# Ignorar carpetas de caché de Python
__pycache__/
**/__pycache__/

# Ignorar archivos de entorno
.env
**/.env
temp_charts

# Opcional: otros archivos comunes que también puedes ignorar
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.DS_Store
.env.*